<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
    <ion-button (click)="testPlugin()" color='primary' size="large">Test Plugin</ion-button>
    <p class="openDB hidden">
      Open Database successful
    </p>
    <p class="execute1 hidden">
      Execute Creation Tables successful
    </p>
    <p class="execute2 hidden">
      Execute Insert Users successful
    </p>
    <p class="query1 hidden">
      Query Two Users successful
    </p>
    <p class="run1 hidden">
      Create One User with sqlcmd and values successful
    </p>
    <p class="run2 hidden">
      Create One User with sqlcmd successful
    </p>
    <p class="query2 hidden">
      Query Four Users successful
    </p>
    <p class="success hidden">
      The test was successful
    </p>
    <p class="failure hidden">
      The test failed
    </p>
  </div>
</ion-content>
